#description
{
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    font-family: cursive;
}
h2
{
    font-size: 20px;
    font-weight: 500;
    margin-left: 3%;
}
#part1
{
    display: flex;
}
#part1 section
{
    width: 33%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
#social_networks
{
    display: flex;
    width: 100%;
}
#social_networks section
{
    width: 100%;
    padding-left: 10%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
#experience{
    width: 100%;
    display: flex;
}
#experience section{
    width: 50%;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 10px;
}
#experience_data {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 2%;
}
#skills {
    display: flex;
}
#skills section{
    width: 50%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
#skill_line{
    display: inline;
}
#edu{
    width: 100%;
    display: flex;
}
#edu section{
    width: 50%;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 10px;
}
#edu_data {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 2%;
}
#selection {
    display: flex;
}
#selection h3{
    margin-right: 2%;
}
#lists {
    width: 100%;
    display: flex;
}
#lists section{
    width: 50%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 10px;
}
[type="checkbox"]
{
    min-width: 45px;
}
#languages ul {
    list-style: none;
    width: 130%;
}
input
{
    width: 90%
}
#submit {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10%;
}
